{% extends "index.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>Dashboard</h2>
<p>Welcome to the Exercise API Dashboard.</p>
<div>
    <button id="fetch-exercise">Fetch Exercise</button>
    <div id="exercise-result"></div>
</div>
<div>
    <button id="fetch-all-exercises">Fetch All Exercise</button>
    <div id="all-exercise-results"></div>
</div>
<div>
    <button id="fetch-num-exercises">Fetch Num Exercises</button>
    <div id="num-exercises-result"></div>
</div>
<div>
    <input id="exercise-input-name" type="text" placeholder="Enter Exercise Name"/>
    <button id="fetch-input-exercises-name">Fetch Exercises by Name</button>
    <div id="input-exercise-result-name"></div>
</div>
<div>
    <input id="exercise-input-type" type="text" placeholder="Enter Exercise Type"/>
    <button id="fetch-input-exercises-type">Fetch Exercises by Type</button>
    <div id="input-exercise-result-type"></div>
</div>
<div>
    <input id="exercise-input-category" type="text" placeholder="Enter Exercise Category"/>
    <button id="fetch-input-exercises-category">Fetch Exercises by Category</button>
    <div id="input-exercise-result-category"></div>
</div>
<div>
    <input id="exercise-input-muscle" type="text" placeholder="Enter Exercise Muscle"/>
    <button id="fetch-input-exercises-muscle">Fetch Exercises by Muscle</button>
    <div id="input-exercise-result-muscle"></div>
</div>

<script>
    document.getElementById('fetch-exercise').addEventListener('click', function() {
    fetch('/api/exercise')
        .then(response => response.json())
        .then(responseData => {
            const data = responseData.data
            const resultDiv = document.getElementById('exercise-result');
            if (data) {
                resultDiv.innerHTML = `
                    <h3>${data._id}</h3>
                    <h3>${data.name}</h3>
                    <p><strong>Type:</strong> ${data.type}</p>
                    <p><strong>Category:</strong> ${data.category}</p>
                    <p><strong>Muscle:</strong> ${data.muscle}</p>
                `;
            } else {
                resultDiv.innerHTML = '<p>No exercise found.</p>';
            }
        })
        .catch(error => {
            console.error('Error fetching exercise:', error);
        });
    });

    document.getElementById('fetch-all-exercises').addEventListener('click', function() {
    fetch('/api/exercises')
        .then(response => response.json())
        .then(responseData => {
            const exercises = responseData.data
            const resultDiv = document.getElementById('all-exercise-results');
            if (exercises) {
                resultDiv.innerHTML = exercises.map(data =>  `
                    <h3>${data._id}</h3>
                    <h3>${data.name}</h3>
                    <p><strong>Type:</strong> ${data.type}</p>
                    <p><strong>Category:</strong> ${data.category}</p>
                    <p><strong>Muscle:</strong> ${data.muscle}</p>
                `).join('');
            } else {
                resultDiv.innerHTML = '<p>No exercises found.</p>';
            }
        })
        .catch(error => {
            console.error('Error fetching exercise:', error);
        });
    });

    document.getElementById('fetch-num-exercises').addEventListener('click', function(){
        fetch('/api/num-exercises')
        .then(response => response.json())
        .then(responseData => {
            const data = responseData.data
            const resultDiv = document.getElementById('num-exercises-result');
            if (data) {
                resultDiv.innerHTML = `
                    <h3>Number: ${data}</h3>
                `;
            } else {
                resultDiv.innerHTML = '<p>No exercise found.</p>';
            }
        })
        .catch(error => {
            console.error('Error fetching exercise:', error);
        });
    })

    document.getElementById('fetch-input-exercises-name').addEventListener('click', function() {
    const input = document.getElementById('exercise-input-name').value;

    fetch(`/api/exercises/name=${input}`)
        .then(response => response.json())
        .then(responseData => {
            const exercises = responseData.data;
            const resultDiv = document.getElementById('input-exercise-result-name');

            if (exercises && exercises.length > 0) {
                resultDiv.innerHTML = exercises.map(data => `
                    <div>
                        <h3>${data.name}</h3>
                        <p><strong>Type:</strong> ${data.type}</p>
                        <p><strong>Category:</strong> ${data.category}</p>
                        <p><strong>Muscle:</strong> ${data.muscle}</p>
                    </div>
                `).join('');
            } else {
                // Display message if no exercises are found
                resultDiv.innerHTML = '<p>No exercises found.</p>';
            }
        })
        .catch(error => {
            console.error('Error fetching exercises:', error);
            document.getElementById('input-exercise-result-name').innerHTML = '<p>Error retrieving exercises.</p>';
        });
    });

    document.getElementById('fetch-input-exercises-type').addEventListener('click', function() {
    const input = document.getElementById('exercise-input-type').value;

    fetch(`/api/exercises/type=${input}`)
        .then(response => response.json())
        .then(responseData => {
            const exercises = responseData.data;
            const resultDiv = document.getElementById('input-exercise-result-type');

            if (exercises && exercises.length > 0) {
                resultDiv.innerHTML = exercises.map(data => `
                    <div>
                        <h3>${data.name}</h3>
                        <p><strong>Type:</strong> ${data.type}</p>
                        <p><strong>Category:</strong> ${data.category}</p>
                        <p><strong>Muscle:</strong> ${data.muscle}</p>
                    </div>
                `).join('');
            } else {
                // Display message if no exercises are found
                resultDiv.innerHTML = '<p>No exercises found.</p>';
            }
        })
        .catch(error => {
            console.error('Error fetching exercises:', error);
            document.getElementById('input-exercise-result-type').innerHTML = '<p>Error retrieving exercises.</p>';
        });
    });

    document.getElementById('fetch-input-exercises-category').addEventListener('click', function() {
    const input = document.getElementById('exercise-input-category').value;

    fetch(`/api/exercises/category=${input}`)
        .then(response => response.json())
        .then(responseData => {
            const exercises = responseData.data;
            const resultDiv = document.getElementById('input-exercise-result-category');

            if (exercises && exercises.length > 0) {
                resultDiv.innerHTML = exercises.map(data => `
                    <div>
                        <h3>${data.name}</h3>
                        <p><strong>Type:</strong> ${data.type}</p>
                        <p><strong>Category:</strong> ${data.category}</p>
                        <p><strong>Muscle:</strong> ${data.muscle}</p>
                    </div>
                `).join('');
            } else {
                // Display message if no exercises are found
                resultDiv.innerHTML = '<p>No exercises found.</p>';
            }
        })
        .catch(error => {
            console.error('Error fetching exercises:', error);
            document.getElementById('input-exercise-result-category').innerHTML = '<p>Error retrieving exercises.</p>';
        });
    });

    document.getElementById('fetch-input-exercises-muscle').addEventListener('click', function() {
    const input = document.getElementById('exercise-input-muscle').value;

    fetch(`/api/exercises/muscle=${input}`)
        .then(response => response.json())
        .then(responseData => {
            const exercises = responseData.data;
            const resultDiv = document.getElementById('input-exercise-result-muscle');

            if (exercises && exercises.length > 0) {
                resultDiv.innerHTML = exercises.map(data => `
                    <div>
                        <h3>${data.name}</h3>
                        <p><strong>Type:</strong> ${data.type}</p>
                        <p><strong>Category:</strong> ${data.category}</p>
                        <p><strong>Muscle:</strong> ${data.muscle}</p>
                    </div>
                `).join('');
            } else {
                // Display message if no exercises are found
                resultDiv.innerHTML = '<p>No exercises found.</p>';
            }
        })
        .catch(error => {
            console.error('Error fetching exercises:', error);
            document.getElementById('input-exercise-result-muscle').innerHTML = '<p>Error retrieving exercises.</p>';
        });
    });

</script>

{% endblock %}